In [1]:
import pandas as pd
import ast

In [2]:
#select dataset train vs test

data_split= 'test'

In [3]:
df_metadata = pd.read_excel("./annotation/AR_metadata.xlsx", sheet_name='AR')

In [4]:
df_metadata["list_animal"]= df_metadata["list_animal"].apply(ast.literal_eval)
df_metadata["list_animal_parent_class"]= df_metadata["list_animal_parent_class"].apply(ast.literal_eval)
df_metadata["list_animal_action"]= df_metadata["list_animal_action"].apply(ast.literal_eval)

df_metadata

,S/N,video_id,type,labels,list_animal_action,list_animal,list_animal_parent_class
0,1,AAACXZTV,train,"2,40","[(Common Crane, Attending), (Common Crane, Eat...","[Common Crane, Common Crane]",[Bird]
1,2,AABCQPTK,train,"2,15","[(Singing Nightingale, Attending), (Singing Ni...","[Singing Nightingale, Singing Nightingale]",[Bird]
2,3,AABKMGHE,train,78,"[(Snake, Moving)]",[Snake],[Reptile]
3,4,AACJGIQR,train,"102,1,39,8,120,97","[(Mongoose, Biting), (Black Mamba, Sensing), (...","[Mongoose, Black Mamba, Mongoose, Mongoose, Mo...","[Reptile, Mammal]"
4,5,AACKOHGA,train,"2,68,133,116","[(Meerkat, Walking), (Meerkat, Attending), (Me...","[Meerkat, Meerkat, Meerkat, Meerkat]",[Mammal]
...,...,...,...,...,...,...,...
30095,30096,ZZKMOXIF,test,123,"[(Sea Turtle, Swimming)]",[Sea Turtle],[Reptile]
30096,30097,ZZLBXZLK,test,"104,68,133,102","[(Water Rail Bird, Shaking Head), (Water Rail ...","[Water Rail Bird, Water Rail Bird, Water Rail ...",[Bird]
30097,30098,ZZLRFAMC,test,"58,68","[(Lion, Keeping still), (Lion Young, Grooming)]","[Lion, Lion Young]",[Mammal]
30098,30099,ZZMTPOYV,test,78,"[(Argentine Ant, Moving)]",[Argentine Ant],[Insect]
30099,30100,ZZQVJVEI,test,40,"[(Tringa Erythropus Bird, Eating)]",[Tringa Erythropus Bird],[Bird]

In [5]:
df_metadata= df_metadata[df_metadata["type"]==data_split]
len(df_metadata)

6096

In [6]:
def format_action(animal_action):
    
    return f"{animal_action[0]} is {animal_action[1]}"

df_metadata['list_animal_action'] = df_metadata['list_animal_action'].apply(lambda x: [format_action(t) for t in x])

/var/folders/kg/k475hsw14yx9rp_1gnwynj9w0000gn/T/ipykernel_10411/164427486.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_metadata['list_animal_action'] = df_metadata['list_animal_action'].apply(lambda x: [format_action(t) for t in x])

In [7]:
df_metadata

,S/N,video_id,type,labels,list_animal_action,list_animal,list_animal_parent_class
24004,24005,AAAUILHH,test,16,[Frog is Climbing],[Frog],[Amphibian]
24005,24006,AAMFAANS,test,102,[Orb Spider is Sensing],[Orb Spider],[Insect]
24006,24007,AAQNNZGK,test,"40,7","[Diving Bell Water Spider is Eating, Larva is ...","[Diving Bell Water Spider, Larva]",[Insect]
24007,24008,AATWKNPL,test,"78,102,15","[Red-Backed Shrike Bird Young is Chirping, Red...","[Red-Backed Shrike Bird Young, Red-Backed Shri...",[Bird]
24008,24009,AAUJMBXG,test,"52,100","[Common Crane is Flying, Common Crane is Running]","[Common Crane, Common Crane]",[Bird]
...,...,...,...,...,...,...,...
30095,30096,ZZKMOXIF,test,123,[Sea Turtle is Swimming],[Sea Turtle],[Reptile]
30096,30097,ZZLBXZLK,test,"104,68,133,102","[Water Rail Bird is Shaking Head, Water Rail B...","[Water Rail Bird, Water Rail Bird, Water Rail ...",[Bird]
30097,30098,ZZLRFAMC,test,"58,68","[Lion is Keeping still, Lion Young is Grooming]","[Lion, Lion Young]",[Mammal]
30098,30099,ZZMTPOYV,test,78,[Argentine Ant is Moving],[Argentine Ant],[Insect]
30099,30100,ZZQVJVEI,test,40,[Tringa Erythropus Bird is Eating],[Tringa Erythropus Bird],[Bird]

In [8]:
dist_animals_inner_dict={}
dist_animals_inner_dict["from"]="human"
dist_animals_inner_dict["value"]="Below is a video of animals performing some actions. Memorize the content and answer my question after this video. The video starts.\n<image>\nThe video ends.\n Tell me what are the distinct animal species in this video. If you notice a species twice only mention it once"


act_animals_inner_dict={}
act_animals_inner_dict["from"]="human"
act_animals_inner_dict["value"]="Tell me for each animal what action it performs. Give independent unique sentences for each animal for each action."

gen_animals_inner_dict={}
gen_animals_inner_dict["from"]="human"
gen_animals_inner_dict["value"]="Tell me what are the distinct animal classes in this video. If you notice a the same class twice only mention it once"

output_list= []
for index, row in df_metadata.iterrows():    
    insert={}
    insert["id"]=row["video_id"] 
    insert["video"]=f"action_recognition/video/{row["video_id"]}.mp4"

    insert["conversations"]=[]

    second_inner_dict={}
    second_inner_dict["from"]="gpt"
    second_inner_dict["value"]='The distinct species I see are '+', '.join(list(set(row["list_animal"])))
    insert["conversations"].append(dist_animals_inner_dict)
    insert["conversations"].append(second_inner_dict)


    second_inner_dict={}
    second_inner_dict["from"]="gpt"
    second_inner_dict["value"]='The distinct categories I see are '+ ', '.join(list(set(row["list_animal_parent_class"])))
    insert["conversations"].append(gen_animals_inner_dict)
    insert["conversations"].append(second_inner_dict)


    second_inner_dict={}
    second_inner_dict["from"]="gpt"
    second_inner_dict["value"]='. '.join(list(set(row["list_animal_action"])))
    insert["conversations"].append(act_animals_inner_dict)
    insert["conversations"].append(second_inner_dict)


    output_list.append(insert)

In [11]:
output_list[0]

{'id': 'AAAUILHH',
 'video': 'action_recognition/video/AAAUILHH.mp4',
 'conversations': [{'from': 'human',
   'value': 'Below is a video of animals performing some actions. Memorize the content and answer my question after this video. The video starts.\n<image>\nThe video ends.\n Tell me what are the distinct animal species in this video. If you notice a species twice only mention it once'},
  {'from': 'gpt', 'value': 'The distinct species I see are Frog'},
  {'from': 'human',
   'value': 'Tell me what are the distinct animal classes in this video. If you notice a the same class twice only mention it once'},
  {'from': 'gpt', 'value': 'The distinct categories I see are Amphibian'},
  {'from': 'human',
   'value': 'Tell me for each animal what action it performs. Give independent unique sentences for each animal for each action.'},
  {'from': 'gpt', 'value': 'Frog is Climbing'}]}

In [9]:
len(output_list)

6096

In [10]:
import json
with open(f"{data_split}_annotation_animals_action_recognition.json", "w") as final:
    json.dump(output_list, final)